    <header class="main_head">
        <div class="top_head">
            <div class="container">
            
            <div class="row">
            
            <div class="col-md-12">
            
            <div class="welcom">
        
          <marquee> Due to new safety policies of Covid 19, expect some delay in delivery of orders</marquee>
    
            </div>
         
            
            </div>
            
            </div>
            
            
            </div>
            </div>
            <div class="brand_div">
              <div class="container">
                     <div class="row">
                         <div class="col-md-12">
                             <div class="brand">
                             <img src="Images/high resolution logo.png">
                                 <h2>Luxurious Ayurvedic Gold</h2>
                             </div>
                         </div>
                     </div>
              </div>
              </div>
                       
                       <section class="nav_div">
                        <div class="container-fluid">
                          <div class="row">
                           
                            <div class="col-md-12">
                              <div class="nav_bar">
                                
                                
                                <div class="menu_div">
                                  <ul>
                                    <li><a href="index.html">Home</a></li>
                                   
                                    <li><a href="Pages/skin_care.html">Skin Care</a><i class="fa fa-plus"></i>
                                    <div class="dropdown">
                                      
                                      <ul>
                                        <li><a href="" >Cream</a></li>
                                          <li><a href="" > Scrub</a></li>
                                          <li><a href="" > Mask</a></li>
                                          <li><a href="" >Toner</a></li>
                                          <li><a href="" >Mist</a></li>
                                          <li><a href="" >Face Wash</a></li>
                                       </ul>
                                      
                                    
                                    </div></li>
                                    <li><a href="Pages/hair_care.html">Hair Care</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="" >  Shampoo</a></li>
                                        <li><a href="" > Conditioner</a></li>
                                        <li><a href="" > Oil</a></li>
                                        <li><a href="" > Serum</a></li>
                                        <!-- <li><a href="" > </a></li> -->
                                     </ul>
                                    </div></li>
                                    <li><a href="Pages/body_care.html">Body Care</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="" >Lotion</a></li>
                                        <li><a href="" > Scrub</a></li>
                                        <li><a href="" > Body Wash</a></li>
                                        <!-- <li><a href="" > Heel guard cream</a></li>
                                        <li><a href="" > Beard oil</a></li>
                                        <li><a href="" > Stretch marks remover gel</a></li>
                                        <li><a href="" >Activated Charcoal Teeth Whitening Powder</a></li> -->
                                        
                                        
                                     </ul>
                                    </div></li>
                                    
                                    <li><a href="Pages/health_care.html">Baby</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="" >Shampoo</a></li>
                                        <li><a href="" > Hair Oil</a></li>
                                        <li><a href="" >Masssage Oil</a></li>
                                        <li><a href="" > Tooth Paste</a></li>
                                        <li><a href="" > Cream</a></li>
                                        <li><a href="" > dusting Powerd</a></li>
                                        <!-- <li><a href="" >Activated Charcoal Teeth Whitening Powder</a></li>
                                         -->
                                        
                                     </ul>
                                    </div>
                                    </li>
                                    <li><a href="Pages/health_care.html">Men</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="" >Shampoo</a></li>
                                        <li><a href="" > Conditioner</a></li>
                                        <li><a href="" > Beard Oil</a></li>
                                        <li><a href="" > Beard Wash</a></li>
                                        <li><a href="" > Beard Wax</a></li>
                                        <li><a href="" > Hairl Oil</a></li>
                                        <li><a href="" >Hair Wax</a></li>
                                        <li><a href="" >Detant Clean Face Wash</a></li>
                                        
                                        
                                     </ul>
                                    </div></li>
                                    <li><a href="Pages/health_care.html">Health Care</a><i class="fa fa-plus"></i>
                                      
                                      <div class="mega_box">
                                        <div class="content">
                                          
                                            <ul class="mega_link">
                                              <li><a href="" > Piles cure capsules</a></li>
                                              <li><a href="" > Glu control capsules</a></li>
                                              <li><a href="" > Noni extract capsules</a></li>
                                              <li><a href="" > Amla extract capsules</a></li>
                                              <li><a href="" >   Green coffee beans capsules</a></li>
                                            </ul>
                                         
                                          
                                            <ul class="mega_link">
                                              <li><a href="" > Goliy extract capsules</a></li>
                                              <li><a href="" > Fat free capsules</a></li>
                                              <li><a href="" > Green lipped capsules</a></li>
                                              <li><a href="" > Joint remedy pain relief gel</a></li>
                                              <li><a href="" > Joint remedy  sachet</a></li>
                                            </ul>
                                        
                                      
                                            <ul class="mega_link">
                                              <li><a href="" > Madira killer sachet</a></li>
                                              <li><a href="" > Weight on weight gain sachet</a></li>
                                              <li><a href="" > Joint remedy pain relief gel</a></li>
                                              <li><a href="" > Stratch marks remover gel</a></li>
                                            </ul>
                                          </div>
                                      
                                      </div>
                                  </li>
                                    <li><a href="Pages/sexual&wellness.html">Sexual & Wellness</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                                
                                        <ul>
                                      <li><a href="" >  Ashwa uttejna oil</a></li>
                                        <li><a href="" >Brexelant cream ( breast massage)</a></li>
                                        <li><a href="" > Vaginal tightening gel</a></li>
                                       
                                     </ul>
                                    </div></li>
                                    
                                  </ul>
                                  <input type="checkbox" id="check">
                                  <label for="check"><i class="fa fa-bars" id="bar_icon"></i>
                                  <i class="fa fa-times" id="cancel_icon"></i></label>
                                </div>
                                <div class="search_div pull-left">
                                  <a href="" class="search_btn"><i class="fa fa-search"></i></a>
                                  <input  class="search_text" type="text" name="" placeholder="Search..."></div>
                                <div class="cart_div pull-right"   >
                                  <ul>
                                            
                                    <li><a href="/signin" alt="login"><i class="fa  fa-user"></i></a></li>
                                    <li><a href="/register"><i class="fa fa-sign-out"></i></a></li>
                      
                                    <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href=""><i class="fa fa-heart"></i></a></li>  
                                    
                                 </ul>
                                </div>
                              </div>
                            </div>
                            </div>
                      
                        </div>
                      </section>
                         
                               </div>
                               </div>
                          </div>
                         </div>
             
    </header>